/* Stock List Styling
 ********************/
table {
  table-layout: fixed;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  overflow: hidden;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

table a {
  text-decoration: underline;
  color: white;
  font-weight: 900;
}
