{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="content-text">
    <h2>Welcome to the Stock Portfolio Management App!</h2>
    <p>Monitor your stock portfolio value</p>
    <p>and view historical stock data.</p>
  </div>
  <div class="content-image">
    <img src="{{ url_for('static', filename='img/stock_chart.jpg') }}" alt="stock_chart">
  </div>
</div>
{% endblock %}
