{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stocks_style.css') }}">
{% endblock %}

{% block content %}
<h2>List of Stocks:</h2>
<br>

<table id="stock-table">
  <!-- Table Header Row -->
  <tr>
    <th>Stock Symbol</th>
    <th>Number of Shares</th>
    <th>Share Price</th>
    <th>Purchase Date</th>
  </tr>

  <!-- Table Elements (Rows) -->
  {% for stock in stocks %}
    <tr>
      <td>{{ stock.stock_symbol }}</td>
      <td>{{ stock.number_of_shares }}</td>
      <td>${{ stock.purchase_price / 100 }}</td>
      <td>{{ stock.purchase_date.strftime("%Y-%m-%d") }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
