{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stocks_style.css') }}">
{% endblock %}

{% block content %}
<h2>List of Stocks:</h2>
<br>
<h3>Current Funds: {{ current_user.current_funds / 100 }}</h3>

<table id="stock-table">
  <!-- Table Header Row -->
  <tr>
    <th>Stock Symbol</th>
    <th>Number of Shares</th>
    <th>Purchase Price</th>
    <th>Purchase Date</th>
    <th>Current Share Price</th>
    <th>Stock Position Value</th>
    <th>Sell Shares</th>
  </tr>

  <!-- Table Elements (Rows) -->
  {% for stock in stocks %}
    {% if stock.number_of_shares > 0 %}
      <tr>
        <td><a href="{{ url_for('stocks.stock_details', id=stock.id) }}">{{ stock.stock_symbol }}</a></td>
        <td>{{ stock.number_of_shares }}</td>
        <td>${{ stock.purchase_price / 100 }}</td>
        <td>{{ stock.purchase_date.strftime("%Y-%m-%d") }}</td>
        <td>${{ stock.current_price / 100}}</td>
        <td>${{ stock.position_value / 100 }}</td>
        <td>
          <form class="sell_stock_form" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="sell_stock_id" value="{{ stock.id }}"/>
            <input type="submit" name="sell_stock_submit" value="Sell">
          </form>
        </td>
      </tr>
    {% endif %}
  {% endfor %}

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><b>TOTAL VALUE</b></td>
    <td><b>${{ value }}</b></td>
  </tr>
</table>
{% endblock %}
